{% macro get_source_from_netease_music(id, level="") %}
https://www.byfuns.top/api/1/?id={{ id }}{% if level %}&level={{ level }}{% endif %}
{% endmacro get_source_from_netease_music %}

{# 获取翻译文本的 macro #}
{% macro t(key) %}
{%- if languages[lang] and languages[lang][key] -%}
{{ trans(key=key, lang=lang) }}
{%- elif config.extra.languages[lang] and config.extra.languages[lang][key] -%}
{{ config.extra.languages[lang][key] }}
{%- elif config.extra.languages["en"] and config.extra.languages["en"][key] -%}
{{ config.extra.languages["en"][key] }}
{%- else -%}
{{ key }}
{%- endif -%}
{% endmacro t %}

{# 根据语言格式化日期的 macro #}
{% macro locale_date(date) %}
{%- set lang = lang | default(value=config.default_language) -%}
{# 获取日期格式 #}
{%- if config.extra.i18n and config.extra.i18n.date_format -%}
{%- set format = config.extra.i18n.date_format -%}
{%- else -%}
{%- set theme_i18n_dir = config.themes_dir | default(value="themes") -%}
{%- set theme_name = config.theme | default(value="") -%}
{%- set theme_i18n_base = theme_i18n_dir ~ "/" ~ theme_name -%}
{%- set theme_translations = load_data(path="i18n/" ~ lang ~ ".toml", required=false) -%}
{%- if not theme_translations and theme_name -%}
    {%- set theme_translations = load_data(path=theme_i18n_base ~ "/i18n/" ~ lang ~ ".toml", required=false) -%}
{%- endif -%}
{%- set format = theme_translations.date_format | default(value="%Y-%m-%d") -%}
{%- endif -%}
{{ date | date(format=format) }}
{% endmacro locale_date %}
